@import url(./header.css);
@import url(./footer.css);

/* -- -- -- -- --  */

/* Hero--section */
.hero-section {
  background: var(--base-blue);
  position: relative;
  z-index: -1;
  top: -2px;
  border-top: 1px solid var(--base-blue);
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-white);
  clip-path: polygon(0% 88%, 100% 55.5%, 100% 100%, 0% 100%);
  z-index: -1;
  border-bottom: 1px solid var(--base-white);
}

.hero__container {
  padding-block: 58px 40px;
  display: flex;
}

.hero--wrapper {
  display: flex;
  margin-right: -100px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  margin-right: -20px;
}

.hero__left h1 {
  color: var(--base-white);
  margin-bottom: 40px;
}

.hero__left_btn {
  display: flex;
  margin-bottom: 80px;
}

.hero__left_icons {
  max-width: 334px;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

.hero__icon {
  background-size: contain;
}

.hero__icon1 {
  background-image: url(../images/wildberries.png);
  width: 205px;
  height: 24px;
}

.hero__icon2 {
  background-image: url(../images/ozon.png);
  width: 110px;
  height: 24px;
}

.hero__icon3 {
  background-image: url(../images/market.png);
  width: 153px;
  height: 35px;
}

.hero__icon4 {
  background-image: url(../images/AliExpress.png);
  width: 155px;
  height: 37px;
}
/* -- -- -- -- */

/* Use--section */

.use__header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  padding-block: 38px 80px;
  gap: 35px;
  border-bottom: 1px solid var(--alter-line008);
}

.use__header_item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.use__header_item p {
  font-size: 24px;
  font-weight: 700;
  line-height: var(--lineH-12);
  color: var(--base-black);
}

.use__body {
  display: flex;
  flex-direction: column;
}

.use__item--wrapper {
  width: 100%;
  display: flex;
  padding-block: 65px 34px;
  gap: 65px;
  justify-content: end;
  border-bottom: 1px solid var(--alter-line008);
}

.use__item--wrapper:nth-child(2) {
  justify-content: start;
  padding-block: 80px 82px;
}

.use__item--wrapper:nth-child(3) {
  justify-content: center;
  gap: 38px;
  padding-block: 68px 18px;
}

.use__item--wrapper:nth-child(4) {
  justify-content: start;
  padding-block: 80px;
}

/* rewerse - column */
.use__item--wrapper:nth-child(2),
.use__item--wrapper:nth-child(4) {
  flex-direction: row-reverse;
}

.use__body_content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  max-width: 480px;
  min-width: 355px;
}

.use__body_content p {
  line-height: 1.4;
  font-size: 18px;
}

.use__content_report {
  max-width: 565px;
  padding-bottom: 40px;
}

.use__content_profit {
  justify-content: start;
  padding-top: 12px;
  padding-left: 10px;
  min-width: 500px;
  gap: 28px;
}

.use__content_cost {
  gap: 30px;
  margin-bottom: 48px;
  max-width: 515px;
}

.use__img--wrapper {
  max-width: 729px;
  min-width: 550px;
}

.use__img {
  width: 100%;
}

.use__profit_img {
  object-position: 35px -24px;
}

.use__img_composit {
  position: relative;
  width: 100%;
  max-width: 645px;
  margin-bottom: 40px;
}

.use__img-tabl {
  padding: 25px;
  border-radius: 11px;
  box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.16);
}

.use__img-item {
  padding: 26px 38px;
  border-radius: 16px;
  display: flex;
  gap: 40px;
  position: absolute;
  top: 103px;
  right: 2px;
  background: var(--base-white);
  box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.32);
}

.use__img-item::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 125px;
  bottom: -55px;
  border-style: solid;
  border-width: 30px;
  border-color: var(--base-white) transparent transparent transparent;
}

.use__img-item span {
  font-size: 32px;
  font-weight: 900;
  line-height: var(--lineH-14);
  letter-spacing: 0.9px;
  color: #ff6536;
}

/* audit-section */

.audit-section {
  background: var(--base-blue);
}

.audit--wrapper {
  padding-block: 120px;
  color: var(--base-white);
}

.audit__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1156px;
  margin-inline: auto;
}

.audit__header p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: var(--lineH-14);
}

.audit__btn--wrapper {
  margin-bottom: 64px;
}

.audit__btn {
  max-width: 345px;
  white-space: nowrap;
  margin-inline: auto;
}

.audit__button--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.32);
  margin-bottom: 64px;
}

.audit__slider--wrapper {
  margin-bottom: 64px;
}

.audit__slider {
  display: flex;
  width: 100%;
  max-width: 1156px;
  margin-inline: auto;
  border-radius: var(--border-slider);
  background-image: url(../images/Отчёт\ превью.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  box-shadow: var(--shadow-slider);
  position: relative;
}

.audit__slider_left {
  width: 51.7%;
  border-right: 2px solid var(--base-blue);
}

.audit__slider_left img {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.audit__slider_button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--base-white);
  position: absolute;
  left: 51.7%;
  top: 50%;
  transform: translate(-50%, -48.3%);
  border: none;
  box-shadow: var(--shadow-slider);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 3px;
}

.audit__slider_button::after {
  content: url(../images/chevron-circle-right-Bold.png);
}

.audit__slider_button::before {
  content: url(../images/chevron-circle-left-Bold.png);
}

.audit__list--wrapper {
  display: flex;
  max-width: 920px;
  margin-inline: auto;
  column-gap: 24px;
}

.audit__list {
  display: flex;
  width: calc(100% / 2);
  flex-direction: column;
  row-gap: 24px;
}

.audit__list_item:not(:first-child)::before {
  content: url(../images/audit-mark.png);
  width: 20px;
  height: 20px;
}

.audit__list:nth-child(2) .audit__list_item:not(:first-child)::before {
  content: url(../images/audit-check.png);
}

.audit__list_item {
  display: flex;
  gap: 15px;
  align-items: start;
  font-size: 18px;
  line-height: var(--lineH-14);
  color: var(--alter-white08);
}

.audit__list_item:first-child {
  font-size: 24px;
  font-weight: 700;
  line-height: var(--lineH-12);
}

/* -- -- -- -- */

/* @MEDIA */

@media (max-width: 1640px) {
  .hero--wrapper {
    margin-right: 0px;
  }
}

/* @-MEDIA-1440px */

@media (max-width: 1440px) {
  .header--wrapper {
    border-bottom: 1px solid var(--alter-white016);
  }

  .hero--wrapper {
    flex-direction: column;
    row-gap: 30px;
    margin-inline: auto;
  }

  .hero__container {
    padding-block: 32px;
  }

  .hero__left {
    display: flex;
    width: 80%;
    text-align: center;
    margin-inline: auto;
    align-items: center;
  }

  .hero__left h1 {
    margin-bottom: 32px;
  }

  .hero__left_btn {
    margin-bottom: 30px;
  }

  .hero__right {
    text-align: center;
  }

  .hero__right img {
    width: 100%;
  }

  /* Use--section */

  .use__header {
    padding-left: 40px;
  }

  .use__item--wrapper:nth-child(3) {
    gap: 20px;
  }

  .use__content_profit {
    padding-left: 0;
    min-width: 275px;
  }
}

/* @-MEDIA-1024px */

@media (max-width: 1024px) {
  /* Use--section */
  .use__header {
    padding: 35px 40px;
  }

  .use__item--wrapper {
    flex-direction: column-reverse;
    max-height: fit-content;
    align-items: center;
    gap: 48px;
    padding-block: 48px;
  }

  .use__item--wrapper:nth-child(2),
  .use__item--wrapper:nth-child(4) {
    flex-direction: column-reverse;
  }

  /* audit-section */
  .audit--wrapper {
    padding-block: 64px;
  }

  .audit__header p {
    margin-bottom: 32px;
  }

  .audit__btn--wrapper {
    margin-bottom: 48px;
  }
}

/* @-MEDIA-768px */

@media (max-width: 768px) {
  .hero-section::before {
    clip-path: polygon(0% 98%, 100% 89%, 100% 100%, 0% 100%);
  }

  .hero--wrapper {
    padding-bottom: 70px;
  }
  .hero__left {
    width: 100%;
    padding-top: 0;
  }

  .hero__left_btn {
    margin-bottom: 55px;
  }

  .hero__left_icons {
    width: 264px;
    height: 68px;
  }

  .hero__icon1 {
    width: 162px;
    height: 19px;
  }

  .hero__icon2 {
    width: 87px;
    height: 19px;
  }

  .hero__icon3 {
    width: 120px;
    height: 29px;
  }

  .hero__icon4 {
    width: 122px;
    height: 29px;
  }

  .hero__right {
    display: none;
  }

  /* use__header */

  .use__header {
    padding: 35px 0 48px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 32px;
  }
  .use__header_item {
    gap: 24px;
  }
  .use__header_item img {
    width: 48px;
    height: 48px;
  }

  .use__header_item p {
    font-size: 18px;
    line-height: 1.4;
  }

  /* use__body */

  .use__body_content {
    min-width: 255px;
    padding-bottom: 0;
  }

  .use__content_cost {
    padding-top: 0;
    gap: 22px;
    margin-bottom: 0;
  }

  .use__content_profit {
    padding-top: 0;
    gap: 24px;
  }

  .use__img--wrapper {
    min-width: 255px;
  }

  .use__profit_img {
    object-position: 1px;
  }

  .use__item--wrapper:nth-child(2) {
    padding-block: 48px 45px;
    gap: 34px;
  }

  .use__item--wrapper:nth-child(3) {
    padding-block: 48px;
    gap: 34px;
  }

  .use__item--wrapper:nth-child(4) {
    gap: 32px;
    padding-block: 47px 48px;
  }

  .use__img_composit {
    max-width: 320px;
    margin-bottom: 0;
  }

  .use__img-tabl {
    padding: 13px 16px;
    width: 235px;
    height: 190px;
  }

  .use__img-item {
    width: 228px;
    height: 50px;
    padding: 13px 19px;
    gap: 15px;
    top: 55px;
    right: 0px;
  }

  .use__img-item span {
    font-size: 16px;
    white-space: nowrap;
  }

  .use__img-item::after {
    border-width: 15px;
    top: 45px;
    left: 65px;
  }

  /* audit-section */
  .audit__header {
    text-align: start;
  }

  .audit__slider--wrapper {
    margin-bottom: 54px;
  }

  .audit__list--wrapper {
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
  }

  .audit__list {
    width: 100%;
    max-width: 420px;
    min-width: 275px;
  }

  .audit__list_item {
    gap: 11px;
  }
}

/* @-MEDIA-375px */

@media (max-width: 375px) {
  .hero__left {
    text-align: start;
    align-items: start;
  }

  .use__chart_img {
    object-position: -12px 10px;
    transform: scale(1.1);
  }
}

@media (max-width: 370px) {
  .use__header {
    grid-template-columns: 270px;
  }
}
