@import url(./header.css);
@import url(./footer.css);

/* -- -- -- -- --  */

.hero-section {
  background: var(--base-blue);
  position: relative;
  z-index: -1;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-white);
  clip-path: polygon(0% 87%, 100% 55%, 100% 100%, 0% 100%);
  z-index: -1;
}

.hero__container {
  padding-block: 58px 40px;
  display: flex;
}

.hero--wrapper {
  display: flex;
  margin-right: -100px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  margin-right: -20px;
}

.hero__left h1 {
  margin-bottom: 40px;
}

.hero__left_btn {
  display: flex;
  margin-bottom: 80px;
}

.hero__left_icons {
  max-width: 334px;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

.hero__icon {
  background-size: contain;
}

.hero__icon1 {
  background-image: url(../images/wildberries.png);
  width: 205px;
  height: 24px;
}

.hero__icon2 {
  background-image: url(../images/ozon.png);
  width: 110px;
  height: 24px;
}

.hero__icon3 {
  background-image: url(../images/market.png);
  width: 153px;
  height: 35px;
}

.hero__icon4 {
  background-image: url(../images/AliExpress.png);
  width: 155px;
  height: 37px;
}

/* @MEDIA */

@media (max-width: 1640px) {
  .hero--wrapper {
    margin-right: 0px;
  }
}

@media (max-width: 1440px) {
  .header--wrapper {
    border-bottom: 1px solid var(--alter-white016);
  }

  .hero--wrapper {
    flex-direction: column;
    row-gap: 30px;
    margin-inline: auto;
  }

  .hero__container {
    padding-block: 32px;
  }

  .hero__left {
    display: flex;
    width: 80%;
    text-align: center;
    margin-inline: auto;
    align-items: center;
  }

  .hero__left h1 {
    margin-bottom: 32px;
  }

  .hero__left_btn {
    margin-bottom: 30px;
  }

  .hero__right {
    text-align: center;
  }

  .hero__right img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-section::before {
    clip-path: polygon(0% 98%, 100% 89%, 100% 100%, 0% 100%);
  }

  .hero--wrapper {
    padding-bottom: 70px;
  }
  .hero__left {
    width: 100%;
    padding-top: 0;
  }

  .hero__left_btn {
    margin-bottom: 55px;
  }

  .hero__left_icons {
    width: 264px;
    height: 68px;
  }

  .hero__icon1 {
    width: 162px;
    height: 19px;
  }

  .hero__icon2 {
    width: 87px;
    height: 19px;
  }

  .hero__icon3 {
    width: 120px;
    height: 29px;
  }

  .hero__icon4 {
    width: 122px;
    height: 29px;
  }

  .hero__right {
    display: none;
  }
}

@media (max-width: 375px) {
  .hero__left {
    align-items: start;
    text-align: start;
  }
}
