* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: none;
}

ul {
  list-style: none;
}

input,
:active,
:focus {
  border: none;
  outline: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/source-sans-pro.semibold.woff2);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2);
}

/* -- -- -- -- -- */

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

header {
  max-width: 1120px;
  display: flex;
  padding: 70px 20px;
  margin: 0 auto;
}

nav,
nav ul,
.header__list_item:first-child {
  display: flex;
  align-items: center;
}

nav {
  margin-right: auto;
}

h1 {
  font-size: 24px;
  line-height: 158%;
  margin-bottom: 30px;
  font-weight: 400;
}

a {
  color: #fff;
}

form {
  position: relative;
}

/* button-search */
form svg {
  position: absolute;
  left: 18px;
  top: 14px;
}
section {
  text-align: center;
}

footer {
  margin: 77px 0;
  text-align: center;
}

footer a {
  font-size: 16px;
  line-height: 175%;
  opacity: 0.6;
  text-decoration: none;
}

/* button - ? */
.header__list_item:first-child {
  gap: 11px;
  margin-right: 75px;
}

.header__list_item:nth-child(2) {
  margin-right: 50px;
}

.header__list_item:nth-child(3) {
  margin-right: 40px;
}

.logo {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-family: "SourceSansPro";
  font-size: 18px;
  font-weight: 600;
  background-color: #4d5563;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.header__list_item > a {
  font-size: 18px;
  text-decoration: none;
}

.heroInput {
  background-color: #1f2937;
  width: 224px;
  height: 40px;
  padding: 0 10px 0 45px;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.heroInput::placeholder {
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
}

.date-box {
  display: inline-flex;
  margin-bottom: 14px;
  font-size: 14px;
  opacity: 0.6;
  align-items: center;
}

.date-box time::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  margin: 3px 12px;
}

.creator-box {
  margin-bottom: 28px;
  display: inline-flex;
  gap: 16px;
}

.creator-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.creator-box > p {
  font-size: 16px;
  line-height: 175%;
  text-align: start;
}

.creator-box span {
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  opacity: 0.6;
}

.img-wrapper {
  max-width: 896px;
  margin: 0 auto 69px;
}

img {
  width: 100%;
}
.section__text-wrapper {
  max-width: 748px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: start;
}

.section-text {
  font-size: 20px;
  line-height: 160%;
}

.section-text:nth-child(2) {
  font-size: 16px;
  line-height: 187%;
  font-weight: 400;
}

.section-text:nth-child(2) a {
  display: inline-block;
  margin: 0 5px;
}

.section-text:first-child {
  margin-bottom: 33px;
}
